.cancel-bar {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3%;
}

.ifttt-error-message {
    color: red;
    font-weight: bold;
    font-size: large;
    text-align: center;
    align-content: center;
    margin-top: 1rem;
    height: 2rem;
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 0;
    cursor: pointer;
    height: 50%;
    width: 5rem;
    border: 1px solid;
    color: black;
    border-radius: 60px;
    text-align: center;
}

.ifttt-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.thin-line {
    height: 1px;
    opacity: 0.2;
    width: 100%;
    background-color: black;
}

.ifttt {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
    padding-top: 10%;
}

.ifttt-link-line {
    opacity: 0.2;
    height: 10vh;
    width: 5px;
    align-self: center;
    background-color: black;
}

.ifttt-rectangle {
    height: 10vh;
    width: 30vw;
    background-color: black;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.ifttt-rectangle-text {
    align-self: center;
    display: flex;
    color: white;
    font-size: 2vw;
    font-weight: 650;
}

.add-action-btn {
    width: 6.5rem;
    background-color: white;
    border-radius: 60px;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 600;
    margin-left: 1.5rem;
    cursor: pointer;
}

.ifttt-add-btn-link {
    text-decoration: none;
    display: flex;
    height: 3.5rem;
}

.create-action-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-action-name {
    font-weight: bolder;
    color: white
}

@media screen and (max-width: 960px) {
    .ifttt {
        padding-left: 0%;
        padding-right: 0%;
    }

    .ifttt-rectangle {
        height: 10vh;
        width: 70%;
    }
    .ifttt-rectangle-text {
        font-size: 120%;
    }
    .ifttt-rectangle {
        height: 10vh;
        width: 80vw;
    }
}