.cancel-bar {
    height: 7vh;
    display: flex;
    align-items: center;
    padding-left: 2%;
    position: relative;
}

.ifttt-error-message {
    color: red;
    font-weight: bold;
    font-size: large;
    text-align: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.back-button {
    background: none;
    cursor: pointer;
    height: 50%;
    width: 5%;
    min-width: 4rem;
    border: 1px solid;
    border-radius: 60px;
    text-align: center;
}

.ifttt-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.thin-line {
    height: 1px;
    opacity: 0.2;
    width: 100%;
    background-color: black;
}

.ifttt {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10%;
    align-items: center;
    min-width: 100%;
}

.ifttt-link-line {
    opacity: 0.2;
    height: 10vh;
    width: 5px;
    align-self: center;
    background-color: black;
}

.ifttt-rectangle {
    min-height: 10vh;
    max-width: 55%;
    background-color: black;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
}

.ifttt-rectangle-text {
    align-self: center;
    display: flex;
    color: white;
    font-size: 2vw;
    font-weight: 650;
}

.add-action-btn {
    width: 6.5rem;
    background-color: white;
    border-radius: 60px;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 600;
    margin-left: 1.5rem;
    cursor: pointer;
}

.add-then-button {
    width: 6.5rem;
    height: 4vh;
    background-color: white;
    border-radius: 60px;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 2rem;
}

.horizontal-spacer {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.ifttt-add-btn-link {
    text-decoration: none;
    display: flex;
    height: 3.5rem;
}

.create-action-name-container {
    display: flex;
    align-items: center;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    max-width: 70%;
}

.create-action-name {
    color: white;
    max-width: 100%;
    word-break: keep-all;
    overflow: auto;
}

@media screen and (max-width: 960px) {
    .ifttt-rectangle-text {
        font-size: 130%;
    }
    .ifttt-rectangle {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 90%;
    }
}