.account-container {
    margin-bottom: 4rem; /* adjust value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    color: #1D1D1D;
    flex-direction: column;
    margin-top: 10%;
}

.account-main-text {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    max-width: 600px;
    margin-top: 10vh;
}


.account-input-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 70vw;
}

form {
    display: flex;
    height: 90%;
    margin-top: -10%;
}

.account-input {
    font-size: 25px;
    font-weight: 900;
    border: 5px solid;
    border-radius: 12px;
    color: #1D1D1D;
    border-color: #E9E9E9;
    width: 450px;
    max-width: 500px;
    padding: 15px;
    outline: none;
}

.input:focus {
    border-color: #1D1D1D;
}

.input-title {
    font-weight: 900;
    font-size: 20px;
    color: #1D1D1D;
    margin-bottom: 6px;
}

.button {
  background-color: black;
}

.api-response-message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    max-width: 600px;

}

.success-message {
    color: rgb(0, 179, 0);
}

.error-message {
    color: rgb(255, 0, 0);
}

.connected-services-container {
    gap: 10px;
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    align-items: center; 
}

.connected-services-title {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    max-width: 600px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center; 
}

.service-item {
    color: white;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #1D1D1D;
    font-size: 45px;
    font-weight: 900;
}

.service-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.service-item img {
    width: 60px;
    height: 60px;
  }

@media screen and (max-width: 600px) {
.account-input {
    width: 90%;
    align-self: center;
}
.account-main-text {
    font-size: 40px;
}

.connected-services-title {
    font-size: 40px;
}

.service-item {
    color: white;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #1D1D1D;
    font-size: 45px;
    font-weight: 900;
}

.service-content {
  display: flex;
  align-items: center;
  gap: 30px;
}
}
