.cancel-bar {
    height: 7vh;
    display: flex;
    padding-left: 3%;
    margin-bottom: 2%;
}

.container {
    width: 100%;
    height: 100%;
}

.thin-line {
    height: 1px;
    opacity: 0.2;
    width: 100%;
    background-color: black;
}

.ifttt {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
    padding-top: 7%;
}

.ifttt-link-line {
    opacity: 0.2;
    height: 10vh;
    width: 5px;
    align-self: center;
    background-color: black;
}

.ifttt-rectangle {
    height: 10vh;
    width: 30vw;
    background-color: black;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    display: flex;
}

.ifttt-rectangle-text {
    align-self: center;
    display: flex;
    color: white;
    font-size: 2vw;
    font-weight: 650;
}

.add-action-btn {
    align-self: center;
    height: 3.3rem;
    width: 6.5rem;
    background-color: white;
    border-radius: 60px;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 600;
    margin-left: 1.5rem;
    cursor: pointer;
}

.ifttt-add-btn-link {
    text-decoration: none;
    align-content: center;
    display: flex;
}

@media screen and (max-width: 960px) {
    .ifttt {
        padding-left: 0;
        padding-right: 0;
    }

    .ifttt-rectangle {
        height: 10vh;
        width: 70%;
    }
    .ifttt-rectangle-text {
        font-size: 120%;
    }
}