.input {
    font-size: 2rem;
    padding: 0.75rem;
    border: 6px solid;
    border-radius: 13px;
    color: black;
    border-color: lightgray;
}

.input-icon {
  position: absolute;
  left: 0;
  margin-left: 3.5%;
  width: auto;
  height: 40%;
}

@media screen and (max-width: 550px) {
    .input {
      width: 60%;

    }
    .input-icon {
      margin-left: 25%;
    }
}

.input-icon-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
